.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 50px !important;

    &.is-active {
        background-color: rgba(245, 108, 108, 0.2) !important;
    }
}

.el-submenu {
    &.is-active.is-opened .el-submenu__title {
        background-color: $mainColor !important;
    }
}

.close {
    .el-submenu {
        &.is-opened {
            >.el-submenu__title {
                background-color: $mainColor !important;
            }
        }
    }
}

.el-menu--vertical {
    // .el-menu {
    //     background-color: $mainColor !important;
    // }

    .el-menu-item:hover {
        background-color: $mainColor !important;
    }
}

/*table样式*/
.el-table {

    td,
    th {
        text-align: center;
    }

    th {
        font-weight: bold;
        color: #344a5f;
    }

    td {
        font-size: 14px;
    }

    // &.el-table--border th:first-child .cell {
    //     padding-left: 15px;
    // }
}

/*dialog样式*/
.el-dialog__body {
    padding: 30px 47px !important;
}

.el-dialog__footer {
    text-align: center;

    .el-button {
        width: 150px;
        margin: 0 11px;
    }
}

div.el-form-item {
    margin-bottom: 22px;
}

/*from 样式*/
.el-form {
    .el-form-item:last-child {
        margin-bottom: 0 !important;
    }
}